* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

section {
    margin: 0 auto;
}

a, button {
    all: unset;
    cursor: pointer;
}

#hero {
    width: auto;
    height: 725px;
    background-image: url(assets/background-one.svg);
    background-size: cover;
    background-position: center;
}

#hero > .nav-bar {
    width: 1322px;
    height: 91px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

#hero > .nav-bar > h1 {
    margin: 0 50px 0 103px;
    font-size: 24px;
}

#hero > .nav-bar > a {
    margin-left: 20px;
    font-size: 14px;
}

#hero > .nav-bar > .button {
    width: 300px;
    height: 52px;
    margin: 0 143px 0 220px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#hero > .nav-bar > .button > .blue-button {
    width: 137px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    background-color:  #23A6F0;
}

#hero > #text {
    width: 1112px;
    height: 596px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    color: white;
}

#hero #text > .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

#hero > #text > .left > p {
    width: 128px;
    height: 24px;
    margin-top: 30px;
    font-size: 16px;
    color: #23A6F0;
}

 #hero > #text >  .left > h1 {
    width: 542px;
    height: 160px;
    font-size: 58px;
    font-weight: bold;
    line-height: 80px;
}

#hero > #text > .left > h2 {
    width: 369px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#hero > #text > .left > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

#hero > #text > .left > div > .join-us {
    width: 135px;
    height: 52px;
    margin-right: 10px;
    background-color:  #23A6F0;
    border-radius: 5px;
}

#hero > #text > .left > div > .learn-more {
    width: 165px;
    height: 48px;
    color: #23A6F0;
    border: 1px solid #23A6F0;
    border-radius: 5px;
}

#hero > #text > .right {
    position: relative;
    bottom: 235px;
    left: 20px;
}

#hero > #text > .right > .one {
    position: absolute;
    top: 70px;
    z-index: 4;
}

#hero > #text > .right > .two {
    position: absolute;
    top: 365px;
    left: 240px;
    z-index: 3;
}

#hero > #text > .right > .three {
    position: absolute;
    left: 120px;
    z-index: 2;
}

#hero > #text > .right > .four {
    position: absolute;
    top: 20px;
    left: 140px;
    z-index: 1;
}

#hero > #main-box {
    width: 1112px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#hero > #main-box > #box {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 4;
}

#hero > #main-box > #box > div {
    width: 328px;
    height: 292px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 16px 10px -5px #f1f0f0 ;
}

#hero > #main-box > #box > div > .box  {
    margin: auto 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    text-align: left;
}

#hero > #main-box > #box > div > .red {
    width: 70px;
    height: 76px;
    margin: auto;
    background-color: #E74040;
    border-radius: 10px;
}

#hero > #main-box > #box > div > .box > h4 {
    font-size: 16px;
    color: #252B42;
}

#hero > #main-box > #box > div > .box > p {
    width: 222px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}

#second {
    width: 1112px;
    height: 744px;
    margin: 240px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 87px;
}

#second > #text {
    width: 507px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#second > #text > h1 {
    font-size: 40px;
    font-weight: bold;
    color:#252B42;
}

#second > #text > p {
    width: 345px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    color:#737373;
}

#second > #text > .learn-more2 {
    width: 120px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #23A6F0;
}

#second > #img {
    position: relative;
    width: 513px;
    height: 424px;
}

#second > #img > .boyandgirl {
    position: absolute;
    left: 80px;
}
#second > #img > .calendar {
    position: absolute;
    right: 380px;
    top: 85px;
    z-index: 2;
}
#second > #img > .data2 {
    position: absolute;
    top: 320px;
    right: 200px;
    z-index: 2;
}
#second > #img > .up {
    position: absolute; 
    left: 410px;
}
#second > #img > .down {
    position: absolute;
    bottom: 15px;
    left: 410px;
}

#third {
    height: 1236px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252B42;
    color: white;
}

#third > h6 {
    margin-bottom: 20px;
    font-size: 14px;
    color: #23A6F0;
}

#third > h1 {
    margin-bottom: 30px;
    font-size: 40px;
    
}

#third > p {
    width: 463px;
    height: 40px;
    margin-bottom: 70px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}