* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* overflow: hidden; */
    background: radial-gradient(circle, rgba(178,45,232,1) 0%, rgba(71,0,100,1) 100%);
}

#pageContainer {
    width: 100%;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

nav {
    margin: 0 auto;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

hr {
    width: 70%; /* Change this to whatever width you need */
    margin: 0 auto;
    transition: opacity 0.5s;
    opacity: 0;
}

hr.active {
    opacity: 1;
}

header button {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
}

header button i {
    color: white;
}

#titleImage {
    margin-top: 2%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

#titleImage .left h1,
#titleImage .left h3 {
    font-weight: 100;
}

#titleImage .right {
    display: flex;
    gap: 20px;
}

#titleImage .right button {
    width: 150px;
    height: 50px;
    font-weight: 250;
    text-align: center;
    border: 1px solid white;
    border-radius: 64px;
    background: transparent;
    color: violet;
    cursor: pointer;
}

#productImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#productImage img.car {
    width: 80vw;
    -webkit-user-drag: none;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
}

#productImage button {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

#productImage button img#arrow {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
