* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
    font-family: Cabin;
    overflow: hidden;
}

.cursor {
    position: fixed;
    z-index: 9999;
    width: 15px;
    height: 15px;
    background: #f0eeee;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #aa2b2b, 
                0 0 60px #aa2b2b, 
                0 0 100px #aa2b2b;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.cursor::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    background: #000000;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}

#containerPages {
    max-width: 100%;
    height: 100vh;
    color: white;
}

.page {
    position: absolute;
    width: 100%;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.page.active {
    opacity: 1;
    z-index: 2;
}

.page-one {
	background: linear-gradient(to bottom right,
    hsl(270.24, 76.69%, 31.96%) 0%,
    hsl(270.73, 76.76%, 31.92%) 8.1%,
    hsl(272.1, 76.96%, 31.82%) 15.5%,
    hsl(274.14, 77.29%, 31.65%) 22.5%,
    hsl(276.67, 77.72%, 31.44%) 29%,
    hsl(279.51, 78.26%, 31.18%) 35.3%,
    hsl(282.53, 78.89%, 30.89%) 41.2%,
    hsl(285.59, 79.6%, 30.57%) 47.1%,
    hsl(288.58, 80.38%, 30.25%) 52.9%,
    hsl(291.43, 81.21%, 29.92%) 58.8%,
    hsl(294.04, 82.06%, 29.59%) 64.7%,
    hsl(296.34, 82.9%, 29.29%) 71%,
    hsl(298.25, 83.68%, 29.03%) 77.5%,
    hsl(299.71, 84.33%, 28.82%) 84.5%,
    hsl(300.63, 84.91%, 28.94%) 91.9%,
    hsl(300.95, 85.14%, 29.02%) 100%
    );
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 30%;
    }
    25% {
        background-position: 100% 70%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 

.page-two {
    background-color: rgb(66, 66, 212);
    background-size: 150% 150%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.page-three {
    background-color: rgb(190, 68, 68);
    background-size: 150% 150%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    gap: 60px;
    height: 30px;
}

nav ul li {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: brightness(0.85);
}

nav ul li:hover {
    border-bottom: 3px solid white;
    border-bottom-left-radius: 10px;
}

#shoesContainer {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#shoesContainer i {
    width: fit-content;
    height: fit-content;
    font-size: 130px;
    cursor: pointer;
}

.page-one #shoesContainer i {
    color: color-mix(in srgb, #1867ff 20%, #B800E0 90%);
}

#shoesContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    filter: drop-shadow(0 0 20px black);
}

#shoesContainer h1 {
    width: 70%;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    font-size: 100px;
    color: transparent;
    letter-spacing: 10px;
    filter: brightness(0.85), drop-shadow(0 0 20px black);
}

#shoesContainer > #mid > h1 > .h1a {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

#shoesContainer > #mid > h1 > .h1b {
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    height: 30px;
}